p something is here

//- div
//- 	h2 {{poem.title}}
//- 	h2 {{poem.author}}
//- 	div.body-html
//- 	  {{poem.bodyHtml}}

    
    //-box for (initial) poem
    //-arrow on the (left and) right
    //-trade out interface for a cloud 
    //-click to go to box view

    //-pull data via webscraper
    //-connect data to angular controller
    //-render it on the view
    //-save last (five?) to provide with user history
    //-save data in database on click 
