!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Poetry Cloud
    link(rel='stylesheet', href='/css/app.css')
  body
    div.header 
      h1 Poetry Cloud
      h3 Hi, 
        a(href="") name
    block body