!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
  body
    div.header 
      h1 Poetry Cloud
      h3 Hi, 
        a(href="") name
      //- form#login
      //-   label(for="userName") User Name
      //-   input(type="text", name="userName")
      //-   label(for="password") Password
      //-   input(type="text", name="password")
      //-   button Submit
    block body